.account-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.account-container__content {
  margin-left: 5%;
}

.account-menu {
  background-color: #f5f5dc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;
}

.account-menu p {
  color: #654321;
  font-size: 16px;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.account-menu p {
  margin: 5px 0; /* Odstęp między elementami */
}

.account-menu p a {
  color: #654321; /* Brązowy kolor tekstu */
  font-size: 16px; /* Rozmiar tekstu */
  text-decoration: none; /* Usuń podkreślenie linków */
  display: block; /* Cały obszar klikalny */
  padding: 10px 15px; /* Wewnętrzny odstęp */
  border-radius: 5px; /* Zaokrąglone rogi */
  transition: background-color 0.3s ease, color 0.3s ease; /* Animacja hover */
}

.account-menu p a:hover {
  background-color: #d2b48c; /* Jasnobrązowe tło po najechaniu */
  color: #fff; /* Biały tekst po najechaniu */
}

.account-menu p a.active {
  background-color: #d2b48c; /* Jasnobrązowe tło dla aktywnego elementu */
  color: #fff; /* Biały tekst dla aktywnego elementu */
}
